*{
    padding: 0;
    box-sizing: border-box;
}
div{
    background-color: red;
    /* display: block; */
    display: inline-block;
    width: 100px;
    height: 100px;
}
#Caja1{
    background-color: red;
    position: fixed;
}
#Caja2{
    background-color: green;
    top: 20px;
    left: 20px;
}