#btn{
    list-style: none;
    border: solid black;
    width: 250px;
    height: 100px;
    text-align: center;

    background-color: green;
    &:hover{
        background-color: yellow;
    }
}
input{
    
}